<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">
      <link href="https://fonts.googleapis.com/css?family=Poppins:500&display=swap" rel="stylesheet">
    {% load static %}
 
  <link href="{% static 'build/build-main.css' %}" rel="stylesheet" >
   <link href="{% static 'build/login-signup.css' %}" rel="stylesheet" >


      <script src="https://kit.fontawesome.com/a81368914c.js"></script>
 <script src="{% static 'vendor/bootstrap/jquery/jquery.min.js' %}"></script>
   <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <title>Patrlaya | login</title>
  </head>
  


  </style>
  <body>
  
  
    <section class="main">
      <div class="modal-form">
            <div class="sign-form">
           <a  class="text-primary h4" href="{% url 'home' %}" style="text-align:start;"> Patralaya</a>
     
             
             
              <div class="login-content ">
             <form method="POST">
              {% csrf_token %}
             <img class="login-img" src="{% static 'images/login.svg' %}">
				<h2 class="title">Welcome Back</h2>
                           <div id="signin-field-email"class="input-container one">
           <div class="input-div ">
                <div class="i">
                   <i class="fas fa-user-tie"></i>
                </div>
                <div class="div">
                    <label for="signup-password-confirmation-field">Username</label>
                   {{form.username}}
                </div>
             </div>
              <div class="error-feedback feedback">
             {{form.username.errors}}
             </div>
           </div>
             
             
             
             
             
             
           <div id="signin-field-pass">
              <div class="input-div pass">
                <div class="i">
                   <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <label for="signin-pass-field">Password</label>
                   {{form.password}}
                </div>
             </div>
               <div class="error-feedback">

           </div>
           </div>
           </div>
           
       
           
             <a class="text-primary" href="{% url 'password_reset_form' %}">Forgot password?</a>
             
            <!-- {% if error_messages %} -->
            <div class="error-feedback">
            <!-- {% for message in error_messages %} -->
                <div>
                    <!-- {{ message }} -->
                </div>
            <!-- {% endfor %} -->
           </div>
           <!-- {% endif %} -->
             <input type="submit" class="btn btn-primary" value="Login">
           </form>
         
         
         </div>
           <div class="mt-2" style="margin-left: auto; margin-right: auto; text-align: center;">
            or sign in with <a class="d-inline-block"href=""><img class="ml-2" src="{% static 'images/google-logo.svg' %}" alt="google logo" width="24px" height="24px" ></a> <a  class="d-inline-block"href="" ><img class="ml-2" src="{% static 'images/facebook-logo.svg' %}" alt="facebook logo" width="24px" height="24px" ></a>
           </div>
           <div class="mx-auto mt-3" style="text-align:center;">
           New user ? get started here <a class="d-inline-block text-primary" href="{% url 'signup' %}"> sign up</a>
         </div>
         </div>
           
        
      </div>
</section>




  
   <script src="{% static 'js/login-signup.js' %}"></script>
</body>
</html>
