{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'js/followbutton.js' %}">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>
{% block title %}{{ user.get_full_name }}{% endblock %}
{% block content %}
<h1>{{ user}}</h1>
{{user.profile_picture}}
    {% with total_followers=user.followers.count %}
    <span class="count">
    <span class="total">{{ total_followers }}</span>
    follower{{ total_followers|pluralize }}
    </span>
    
<a href="{% url 'user_follow' %}" data-id="{{ user.user }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow">
    {% if request.user not in user.followers.all %}
    Follow
    {% else %}
    Unfollow
    {% endif %}
    </a>
    {% endwith %}

   
    
    





    {% endblock %}