{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
<script src="{% static 'profiles/js/followbutton.js' %}"></script>


{% block content %}
<h1>{{ user}}</h1>
<h1>{{ user.followers.count }}</h1>
<img src='{{user.profile_picture.url}}' style="display: inline-block;position: relative;width: 200px;height: 200px;overflow: hidden;border-radius: 50%;">
    {% with total_followers=user.followers.count %}
    <span class="count">
    <span class="total">{{ total_followers }}</span>
    follower{{ total_followers|pluralize }}
    </span>
    <ul>
        {% for u in user.followers.all %}

        <li>{{ u }}</li>
        {% endfor %}
    </ul>
    
    
    <a name="{{ user.user.username }}" style="font-size:48px;color: blue;" class="likin" id="co"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
    <button id="follow" type="submit">
    {% if request.user.username not in user.followers.all %}
    Follow
    {% else %}
    Unfollow
    {% endif %}
    </button>
    </a>

{% endwith %}
{% endblock %}