{% load static %}
<!--custom template tag-->
{% load profiles_tags %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
<!-- <script src="{% static 'js/followbutton.js' %}"></script> -->
<script>
    $(document).ready(function(){
    $("button#follow").click(function(e){
        e.preventDefault();
        $.post(
            "{% url 'user_follow' %}",
            {
                username:"{{user}}",
                action: $(this).data('action'),
                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            function(data){
                if (data['status'] == 'ok'){
                    var previous_action = $('button#follow').data('action');
                    // toggle data-action
                    $('button#follow').data('action', previous_action == 'follow' ?
                    'unfollow' : 'follow');
                    // toggle link text
                    $('button#follow').text(previous_action == 'follow' ? 'unfollow' :
                    'follow');
                    // update total likes
                    var previous_follows = parseInt($('span.count .total').text());
                    $('span.count .total').text(previous_action == 'follow' ?
                    previous_follows + 1 : previous_follows - 1);
                }
            }
            

        );
    });
});
</script>

{% block content %}
<h1>{{ user}}</h1>
<img src='{{user.profile_picture.url}}' style="display: inline-block;position: relative;width: 200px;height: 200px;overflow: hidden;border-radius: 50%;">
    {% with total_followers=user.followers.count %}
    <span class="count">
        <hr>
    <span class="total">{{ total_followers }}</span>
    follower{{ total_followers|pluralize }}
    </span>
    <ul class="followers">
        {% for profile in user.followers.all %}

        <li><a href="{% url 'user_detail' profile %}">{{ profile }}</a></li>
        {% endfor %}
    </ul>
    
    <!--custom tag takes request.user and returns profile object as current_user variable-->
    {% profile_obj request.user as current_user%}
    {% if request.user.is_authenticated %}
    {% if current_user != user %}
    <button id="follow" type="submit" data-action="{% if current_user in user.followers.all %}un{% endif %}follow">
    {% if current_user not in user.followers.all %}
    Follow
    {% else %}
    Unfollow
    {% endif %}
    </button>
    {% endif %}
    {% endif %}

    

{% endwith %}
{% endblock %}