
  
  
  <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1 shrink-to-fit=no">
      <link href="https://fonts.googleapis.com/css?family=Poppins:500&display=swap" rel="stylesheet">
    {% load static %}
 
  <link href="{% static 'build/build-main.css' %}" rel="stylesheet" >
    <link href="{% static 'build/login-signup.css' %}" rel="stylesheet" >

      <script src="https://kit.fontawesome.com/a81368914c.js"></script>
 <script src="{% static 'vendor/bootstrap/jquery/jquery.min.js' %}"></script>
   <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <title>Patrlaya | sign up</title>
  </head>
  
 
  <body>
  
  
     <section class="main">
      <div class="modal-form">
          
            <div class="sign-form">
            <a  class="text-primary h4" href="https://patralayaa.herokuapp.com" style="text-align:start;"> Patralaya</a>
             
              <div class="login-content ">
              
             <form  method="POST" >
              {% csrf_token %}
             <img class="login-img" src="{% static 'images/signup.svg' %}">
				<h2 class="title">Get started</h2>
 <div id="signup-field-usern " div class="input-container one">
              <div class="input-div ">
                <div class="i">
                   <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <label for="signup-password-confirmation-field">Username</label>
                   {{form.username}}
                </div>
             </div>
        
               <div class="feedback">
              <ul><li>Letters, digits and @/./+/-/_ only.</li>

           </div>
           </div>
              <div id="signup-field-email"class="input-container one">
                <div class="input-div">
                <div class="i">
                   <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <label for="signup-email-field">Email</label>
                   {{form.email}}
                </div>
              </div>
        
             </div>
          <div id="signup-field-pass ">
         <div  class="input-div pass">
                <div class="i">
                   <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                   <label for="signup-password-field">Password</label>
                  {{form.password1}}
                    

                </div>
             </div>
             
               <div class="feedback">
                 <ul>
                      <li>Your password can’t be too similar to your other personal information.</li>
    <li>Your password must contain at least 8 characters.</li>
    <li>Your password can’t be a commonly used password.</li>
   <li> Your password can’t be entirely numeric.</li>
              </ul>
       
      </div>

           </div>
           <div id="signup-field-pass-conf">
              <div class="input-div pass">
                <div class="i">
                   <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <label for="signup-password-confirmation-field">Password Confirmation</label>
                   {{form.password2}}
                </div>
             </div>
     
               <div class="feedback">
              <ul><li>Enter the same password as before, for verification.</li>

           </div>
           </div>

   <div class="error-feedback">{% if messages %}
    {% for message in messages %}
        <div>
            {{ message }}
        </div>
   {% endfor %}

{% endif %}

           </div>
             <input type="submit" class="btn" value="Sign up">
           </form>
         
         
         </div>
          <div class="mt-2" style="margin-left: auto; margin-right: auto; text-align: center;">
            or sign in with <a class="d-inline-block"href=""><img class="ml-2" src="{% static 'images/google-logo.svg' %}" alt="google logo" width="24px" height="24px" ></a> <a  class="d-inline-block"href="" ><img class="ml-2" src="{% static 'images/facebook-logo.svg' %}" alt="facebook logo" width="24px" height="24px" ></a>
           </div>
           <div class="mx-auto mt-3" style="text-align:center;">
           Already registered? <a class="d-inline-block  text-primary" href="{% url 'login' %}"> login </a> here
         </div>
         </div>
           
        
      
    </div>
</section>



   <script src="{% static 'js/login-signup.js' %}"></script>
</body>
</html>
