{% extends 'events/base.html' %}
{% load static %}
{% load i18n %}
{%block body%}
  {% load static %}

  {% if user_profile == reading.creator %}
  <ul>
      <li>
          <a href="{% url 'readinglists_update' pk=reading.pk uuid=reading.uuid %}">update</a>
      </li>
      <li>
          <a href="{% url 'readinglists_delete' pk=reading.pk uuid=reading.uuid %}">delete</a>
      </li>
  </ul>
  {% endif %}

<p>
  Title:{{reading.title}}
</p>
<p>
  Tags:{% for tag in reading.tags.all %}{{tag}}{% empty %}not tagged{% endfor %}
</p>
<p>
  Bundles:{% for bundle in reading.bundles.all %}
  <a href="{{bundle.get_absolute_url}}">
  {{bundle.title}}
</a>
  {% endfor %}
</p>
{% endblock %}


