{% extends 'events/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Reading List{% endblock %}
{% block body %}
{% load widget_tweaks %}
 
<form method="POST">
    {% csrf_token %}
 

    <section class="max-w-4xl p-6 mt-8  border rounded-2xl bg-gray-50">

    <h2> Create Reading list</h2>
         <div class="flex flex-col gap-y-4 sm:grid sm:grid-cols-1 sm:gap-8 mt-4 sm:grid-cols-2">
                <div>
                    <label class="text-gray-700 dark:text-gray-200" for="{{form.title.id_for_label}}"> {{form.title.label}}:</label> {%render_field form.title  placeholder=" Title of your Reading list"  class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-green-500 dark:focus:border-green-500 focus:outline-none focus:ring"%}
                </div>

                <div>
                    <label class="text-gray-700 dark:text-gray-200"for="{{form.tags.id_for_label}}">{{form.tags.label}}:</label>
   
           {%render_field form.tags class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-green-500 dark:focus:border-green-500 focus:outline-none focus:ring" placeholder="Comma separated tags eg. mathematics, science, computer"%}
   
 <span  id="tag_help" class="mt-2 text-gray-600 text-xs">
  {{form.tags.help_text}}
    </span>
                </div>




                  <div>
                    <label class="text-gray-700 dark:text-gray-200" for="{{form.bundles.id_for_label}}"> {{form.bundles.label}}:</label> {%render_field form.bundles  placeholder=" Title of your bundle" %}
                </div>


                </div>














                          <div class="flex justify-start mt-6">
                <button type="submit" class="anim px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-green-500 mt-6 rounded-md hover:bg-green-400 focus:outline-none focus:bg-green-700"><i class="mr-2 h-6 w-6 text-white fa fa-edit"></i>Create </button>
            </div>
   
                </section>
</form>

{% endblock %}



    