{% extends 'events/base.html' %}
{% load static %}
{% load i18n %}
{%block title%}  search:{{view.published.query}}   {%endblock%}
{% block body %}
	
	<div class="flex px-2 " >
		<div class="w-full lg:w-3/5 mx-auto bg-gray-50 px-2"> 

			<div class="flex-1  mt-6 pb-4">
            {% if view.published.published_bundles %}
				<h1 class=" text-2xl  font-semibold text-gray-800"> {% translate "Results related to" %}  '{{view.published.query}}'</h1>
					{% for bundle in view.published.published_bundles %}

					{% include 'events/bundles.html' with bundle=bundle %}

					{% endfor %}




	 {% include "components/pagination.html" with bundles=view.published.published_bundles %}

{% else %}

<!--if no result exists then follows this-->

<div class=" mt-24">
					
<div class="" id="empty list">
<div class="flex flex-col justify-center items-center ">
    {% load static %}
<img  class="my-3"src="{% static 'images/empty-search.svg' %}"  width="200px">
<h2>Oops ! No results found</h2>
<p class="text-center text-gray-500">Sorry didn't found anything matching your query. Try again with different query</p>
</div>


</div>
</div>




{% endif %}

			</div>



		</div>
		<div class=" hidden lg:flex lg:w-2/5 h-64 pr-2 py-4">
			{% include 'events/categories.html'  %}
		</div>

	</div>
{% endblock body %}