{% extends 'events/base.html' %}
{% load static %}
{% load i18n %}
{%block title%}Topics{%endblock%}
{% block body %}
	
	<div class="flex px-2 " >
		<div class="w-full lg:w-3/5 mx-auto bg-gray-50 px-2"> 
			
			<div class="flex-1  mt-6 pb-4">
           
				<h1 class=" text-2xl  font-semibold text-gray-800"> {% translate "Posts tagged with" %}  '{{tagged_with }}'</h1>
				
{% if page_obj %}
                	{% for bundle in page_obj%}

					{% include 'events/bundles.html' with bundle=bundle %}

					{% endfor %}




	 {% include "components/pagination.html" with bundles=page_obj %}

{% else %}

<!--if no result exists then follows this-->

<div class=" mt-24">
					
<div class="" id="empty list">
<div class="flex flex-col justify-center items-center ">
    {% load static %}
<img  class="my-3"src="{% static 'images/empty-search.svg' %}"  width="200px">
<h2>Oops ! Didn't found the bundle?</h2>
<p class="text-center text-gray-500">It's because the bundles with this topic might be private or unavailable at the moment</p>
<a href="{% url 'create_bundle' creator=user %}" class=" mt-6 anim text-green-500"> Why not create your own </p>
</div>


</div>
</div>
{% if not request.user.is_authenticated %}
<p> Proceed to <a href="{% url 'login' %}">LOGIN</a></p>
{% endif %}



{% endif %}

			</div>



		</div>
		<div class=" hidden lg:flex lg:w-2/5 h-64 pr-2 py-4">
			{% include 'events/categories.html'  %}
		</div>

	</div>
{% endblock body %}