{% extends 'events/base.html' %}
{% load static %}
{% load i18n %}
{%block title%} Activity Streams {%endblock%}
{% block body %}
{% load static %}

<div class="flex">
    <div class="lg:w-3/5 bg-gray-50 px-2">
{% if actions %}
        <div class="flex-1  mt-6 pb-4">

            <h1 id="article-content"class=" text-2xl  font-semibold text-gray-800">Recent Actions</h1>
               {% for action in actions %}
                   <div class="action mt-2 py-2 px-2 ">
                    <span class="text-gray-500 dark:text-gray-400 text-sm font-normal block font-medium ">{{action.created}}</span>
                    <h3 class="font-medium">  <a href="{{ action.profile.get_absolute_url }}">{{action.profile}}</a>{{action.verb}}  <a
            href="{{ action.target.get_absolute_url }}">
            {% if action.target.slug %}
            {{action.target.slug}}
            {% else %}
            {{action.target}}
            {% endif %}
        </a></h3>
                </div>
                {% endfor %}

        </div>


                {% else %}
<div class="flex flex-col justify-center items-center mt-64 ">
<img  class="h-32 w-32" src="{% static 'images/noActions.svg' %}">        
                <h1 class="text-gray-800 mt-5 font-semibold text-xl lg:text-2xl">Sorry no actions to show!</h1>
                <p class="text-gray-600">
                    for this to show you must follow some users
                </p>
</div>
                {% endif %}


    </div>
    <div class=" hidden lg:block lg:w-2/5 h-64 pr-2 py-4">
        {% include 'events/categories.html' with categories=view.categories %}
    </div>

</div>
{% endblock body %}











