{% load i18n %}{% autoescape off %}
{% trans 'Namaste' %} 
{% blocktrans %},We received a  request of password reset for your user account at {{ site_name }}.
If it's not you who made the request, then you can safely ignore this email.{% endblocktrans %}

{% trans "Otherwise,Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

{% trans "Thank Your for using Patralaya" %}

{% blocktrans %}The {{ site_name }} team, Nepal.{% endblocktrans %}

{% endautoescape %}