{% extends 'events/base.html' %}
{% load static %}
{% load i18n %}
{% block title %} Community profiles
{% endblock  %}
{% block body %}

<script>
	$(document).ready(function () {
		$("button#follow").click(function (e) {
			e.preventDefault();
			$.post(
				"{% url 'user_follow' %}",de={
					username: "{{user}}",
					action: $(this).data('action'),
					csrfmiddlewaretoken: "{{csrf_token}}"
				},
				function (data) {
					if (data['status'] == 'ok') {
						var previous_action = $('button#follow').data('action');
						// toggle data-action
						$('button#follow').data('action', previous_action == 'follow' ?
							'unfollow' : 'follow');
						// toggle link text
						$('button#follow').text(previous_action == 'follow' ? 'unfollow' :
							'follow');
						// update total likes
						var previous_follows = parseInt($('span.count .total').text());
						$('span.count .total').text(previous_action == 'follow' ?
							previous_follows + 1 : previous_follows - 1);
					}
				}


			);
		});
	});
</script>


<h1>People</h1>
<div class="grid grid-flow-row   grid-gap-4 sm:grid-cols-3  xl:grid-cols-4">
{% for public_profile in users %}


  <div class="m-2   max-w-72   bg-white flex sm:flex-col rounded-lg px-1 sm:px-4 py-1 sm:py-4 items-center justify-between  ">
  	<div class="flex sm:flex-col items-center ">
  	<span class=" h-12 w-12 sm:h-24 sm:w-24 rounded-full ring ring-green-300 ring-offfset-2">
      {% include 'components/profile-container.html' with user=public_profiler %}
  	</span>
  	 <h4 class=" sm:mt-2 ml-2 sm:ml-0 text-center text-sm sm:text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7 ">
           {{public_profile}}
        </h4>
    </div>
    


					{% if request.user.is_authenticated %}
					{% if public_profile != request.user %}

					<button id="follow" type="submit"
						data-action="{% if user_profile in user.followers.all %}un{% endif %}follow"
						class="btn transition duration-500 anim text-white rounded-xl px-8 py-2   active:outline-none   focus:outline-none   {% if user_profile in user.followers.all %}bg-red-500 active:bg-red-300 {% else %}active:bg-green-400 bg-green-500{% endif %}">

						{% if request.user not in public_profile.followers.all %}
						Follow
						{% else %}
						Unfollow
						{% endif %}
					</button>
					{% endif %}
					{% endif %}

        <button class="hidden sm:block transition duration-500 bg-gray-100  py-2 w-full rounded-xl mt-2 text-gray-500 font-semibold hover:text-gray-600 hover:bg-red-200 active:outline-none outline-none active:border active:bg-gray-400"> following</button>
         {% if request.user.is_authenticated %}
         <button class="  sm:hidden  py-2 px-4 rounded-xl text-gray-300 font-semibold hover:text-gray-600 text-xs hover:bg-red-200 active:outline-none outline-none active:border active:bg-gray-400"> following</button>
        <div class="hidden  sm:flex  w-full my-4">
        	<div class=" flex flex-col flex-1 items-center">
        		<span class="">Bundles</span>
        		<span class=""> 26 </span>

        	</div>
        	<div class=" flex  border-l-gray-200 border-l-2  flex-col flex-1 items-center">
        		<span class="">claps</span>
        		<span class=" "> 26 </span>

        	</div>

        </div>
  </div>


{% endfor %}
{% endblock %}