<form method="POST" style="border:1px solid #ccc" enctype="multipart/form-data">
    <div class="container">
      <h1>Update user profile</h1>
      <hr>
      {% csrf_token %}
      {{ user_form.as_p}}
      {{profile_form.as_p}}
      <button style="background-color: #4086e0; color: #ffffff" class="btn btn-outline-info" type="submit">Confirm</button>
    </div>
    <div class="container">
      <h6><a href="{% url 'password_update_form' %}">Change your password, here</a></h6>
    </div>
    
  </form> 