{% load static %}
{% block body %}


                                        {% if user.profile_picture or profile_picture%}
                                            <img id="user_profile_image" class=" anim object-center w-full h-full rounded-full" {% if user.profile_picture %} src="{{user.profile_picture.url}}" {% endif %} {% if  profile_picture%} src="{{profile_picturel}}"{% endif %} alt="user_profile_image"/>


                                            {% else %}
											{% with user|truncatechars:2|lower|first as alphabet %}
                                            <img id="user_profile_image" class="object-center w-full h-full rounded-full" src="{% static 'images/profiles/'|add:alphabet|add:'.svg' %}" alt="" >
                                            {% endwith %}
											{% endif %}
                                      
{% endblock  %}
