{% extends 'events/base.html' %}

{%block title%} Remote Feed  {%endblock%}
{% load humanize %}
{% load i18n %}
{% load static %}
{% block body %}
<script type="text/javascript"> 

    $(document).ready(function(){
    $("button#create").click(function(e){
        e.preventDefault();
        let s=$("#source").val();
        let u=$("#url").val();
        $.post(
            "{% url 'feed_create' %}",
            {
                source: s,
                action: "create",
                url: u,
                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            function(data){
                
                if (data['status'] == 'ok'){
                    
                   alert("created");
                   
                }
            }
            

        );
    });
    // {% for rfj in remote_feeds %}
    // $("button#update-{{rfj.id}}").click(function(e){
    //     e.preventDefault();
    //     let s=$("#edit-source-{{rfj.id}}").val();
    //     let u=$("#edit-url-{{rfj.id}}").val();
    //     let i="{{rfj.id}}";
    //     $.post(
    //         "{% url 'feed_update' %}",
    //         {
    //             source: s,
    //             action: "update",
    //             url: u,
    //             id: i,
    //             csrfmiddlewaretoken: "{{csrf_token}}"
    //         },
    //         function(data){
                
    //             if (data['status'] == 'ok'){
                    
    //                alert("updated");
                   
    //             }
    //         }
            

    //     );
    // }),
    // $("button#delete-{{rfj.id}}").click(function(e){
    //     e.preventDefault();
    //     let s=$("#edit-source-{{rfj.id}}").val();
    //     let u=$("#edit-url-{{rfj.id}}").val();
    //     let i="{{rfj.id}}";
    //     $.post(
    //         "{% url 'feed_delete' %}",
    //         {
    //             id: i,
    //             action: "delete",
    //             csrfmiddlewaretoken: "{{csrf_token}}"
    //         },
    //         function(data){
                
    //             if (data['status'] == 'ok'){
                    
    //                alert("deleted");
                   
    //             }
    //         }
            

    //     );
    // });
    // {% endfor %}
    });
</script>
 
<p>
<h4>ADD</h4>
<input id="source" type="text" placeholder="SourceName">
<input id="url" type="url" placeholder="Url">

<button id="create" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">create</button>
</p>
<br>
<br>



{# get list of user created remote feeds #}

    {% for rf in remote_feeds %}
    <a class=" anim border  px-4 py-1 hover:bg-gray-200 my-2 rounded-sm mr-4" href="{% url 'feed_list_from_remote' rf.id %}">{{rf}}</a>
    
    {% endfor %}

{% endblock body %}