

{% extends 'events/base.html' %}

{%block title%}  FEED AGGREGATED  {%endblock%}
{% block body %}
<script type="text/javascript"> 

    $(document).ready(function(){
    $("button#update").click(function(e){
        e.preventDefault();
        let s=$("#source").val();
        let u=$("#url").val();
        $.post(
            "{% url 'feed_update' %}",
            {
                source: s,
                action: "update",
                url: u,
				id: "{{feed_id_remote}}",
                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            function(data){
                
                if (data['status'] == 'ok'){
                    
                   alert("updated");
				   window.location.href="{%url 'feed_list_from_remote' feed_id_remote %}";
                   
                }
            }
            

        );
    }),
    $("button#delete").click(function(e){
        e.preventDefault();
        $.post(
            "{% url 'feed_delete' %}",
            {
                action: "delete",
                id: "{{feed_id_remote}}",
                csrfmiddlewaretoken: "{{csrf_token}}"
            },
            function(data){
                
                if (data['status'] == 'ok'){
                    
					window.location.href="{%url 'feed_home' %}";
                   
                }
            }
            

        );
    });
});
</script>	


<p>
	<h4>Update</h4>
	<input id="source" type="text" value="{{feed_source}}">
	<input id="url" type="url" value="{{feed_url}}">
	
	<button id="update" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">update</button>
	<button id="delete" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">delete</button>
</p>
	<br>
	<br>
	


	<div class="flex" >
		<div class="lg:w-3/5 bg-gray-50 px-2"> 

			<div class="flex-1  mt-6 pb-4">
				<h1 class=" text-2xl  font-semibold text-gray-800">{{ feed_info.title }}</h1>
					
                <ul>

                {% for post in feed_body %}

					
                    <li>
                        <div>
                            <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
                            <p>{{ post.summary }}</p>
                            
                            <hr>
                        </div>
                    </li>
                    <br>
					<br>
					<br>
					{% endfor %}
                </ul>

			</div>



		</div>
		<div class=" hidden lg:block lg:w-2/5 h-64 pr-2 py-4">
			{% include 'events/categories.html' %}
		</div>

	</div>
{% endblock body %}

