{% load i18n %}
<!DOCTYPE html>


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Patralaya</title>



  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


  <!-- {% load static %} -->
  
  <link href="{% static 'build/build-main.css' %}" rel="stylesheet" >

      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>

   <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

</head>

<body>
  <div class="row mx-0 align-items-center">
    <div class="col px-2 mx-0 ">
  <p class="mb-0">
    <em><a href="{% url 'bundle_feed' %}">Subscribe through RSS</a></em>
</p>
{% get_current_language as LANGUAGE_CODE %}
</div>
<div class="col px-2 mx-0 " >
<form action="{% url 'set_language' %}" method="POST" style=" display: flex; justify-content: flex-end;">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ redirect_to }}">
  <select name="language">
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}
    <option value="{{language.code}}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
      {{language.name_local}} | {{language.code}}
    </option>
    {% endfor %}
  </select>
  <input class=""type="submit" value="set">
</form>
</div>

</div>
            
      <style type="text/css">
        #message_container{
          position: fixed;
          bottom: 0;
          right:0;
        
          max-width: 500px;
          z-index:1000;
          padding: 20px 20px;


        }
   

        #message_container #message-box{
          animation: messageBox 1s ease-in-out;

        }
        @keyframes messageBox{
          0%{
            transform:translatey(10px);
          }
          10%{
            transform: translateY(0px);

          }

        }
      </style>            
                    
<div id="message_container">
  {% if messages %}
    {% for message in messages %}
    <div id="message-box" class="alert alert-info alert-dismissible fade show" role="alert">
 {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
      
   {% endfor %}

{% endif %}
</div>



 <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container d-flex justify-content-between ">
  <a class="navbar-brand text-primary" href="{% url 'home' %}">{% translate "Patralaya" %}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primaryNav" aria-controls="primaryNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="collapse navbar-collapse align-self-center" id="primaryNav">
    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
       {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_detail' user %}">{% translate "Profile" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile_settings' %}">{% translate "Settings" %}</a>
   
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'create_bundle' creator=request.user %}">{% translate "Create New" %}</a>
      </li>
       <li class="nav-item ">
        <a class="nav-link" href="{% url 'list_bundle' user %}">{% translate "Bundle you created" %}</a>
      </li>
       <li class="nav-item ">
        <a class="nav-link" href="{% url 'recent_activity' %}">{% translate "Activities Stream" %}</a>
      </li>
      <li class="nav-item d-lg-none">
        <a class="nav-link" href="{% url 'logout' %}">{% translate "Log Out" %}</a>
      </li>
      {% else %}
       <li class="nav-item d-lg-none">
        <a class="nav-link" href="{% url 'login' %}">{% translate "Sign In" %}</a>
      </li>
       <li class="nav-item d-lg-none">
        <a class="nav-link" href="{% url 'signup' %}">{% translate "Sign Up" %}</a>
      </li>
    {% endif %}
    </ul>

  </div>
 
        <div class="  d-none col-auto d-lg-flex justify-content-end align-items-center">
        <a class="text-muted" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a>
        {% if user.is_authenticated %}
        <a class="btn btn-sm btn-outline-primary px-3" href="{% url 'logout' %}">{% translate "Log Out" %}</a>
        {% else %}
        <a class="btn btn-sm btn-primary mr-3 px-3" href="{% url 'login' %}">{% translate "Sign In" %}</a>
        <a class="btn btn-sm btn-outline-primary px-3" href="{% url 'signup' %}">{% translate "Sign Up" %}</a>
        {% endif %}

      </div>
  </div>
</nav>
    
    {% block body %}
    {% endblock %}


  <!-- Footer -->
  <footer class="footer bg-light" style="width:100%;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">{% translate "About" %}</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">{% translate "Contact" %}</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">{% translate "Terms of Use" %}</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">{% translate "Privacy Policy" %}</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; {% translate "Patralaya 2020. All Rights Reserved." %}</p>
        </div>
      </div>
    </div>
  </footer>




  

</body>
</html>

