{% load static %}
{% load i18n %}

{% extends 'events/base.html' %}

{%block title%}  {% translate "Home  page"}  {%endblock%}
{% block body %}
	
	<div class="flex" >
		<div class="lg:w-3/5 bg-gray-50 px-2"> 

			<div class="flex-1  mt-6 pb-4">
            {% if tag %}
				<h1 class=" text-2xl  font-semibold text-gray-800">{% translate "Posts tagged with" %} "{{ tag.name }}"</h1>
            {% endif %}
					{% for bundle in page_obj %}

					{% block bundles %}
					{% endblock bundles %}


					{% endfor %}




			</div>



		</div>
		<div class=" hidden lg:block lg:w-2/5 h-64 pr-2 py-4">
			{% include 'events/catagories.html' %}
		</div>

	</div>
{% endblock body %}